/* final css file for amazeriffic Melissa Curry IT 328*/



header {
	background: white;
	overflow: auto;
	border-bottom: 1px solid #ddd;
	padding-top: 1%;
	padding-bottom: 1%;
}

main {
	display: block;
	background: white;
	padding-top: 2%;
	padding-bottom: 2%;
}

header, footer {
	padding-bottom: 3%;
}

header, main, footer { 
min-width: 855px;	
overflow: hidden;
}

body {
	background: #f9e933;
	margin:auto;
	font-family: 'Droid Sans', sans-serif;
	
}
#p1 {
	background: #f9e933;
}
#accordion {
	background:#f9e933;
	width: 855px;
}
#accordion h3, p {
	margin-left: 2%;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header h1 {
	float: left;
	width: 570px;
	color: red;

}

header nav {
	float: right;
	width: 285px;
}

 .left {
	float: left;
	width: 570px;

}


 .right {
	float: right;
	width: 285px;
}

footer .siteleft {
	display: block;
	float: left;
	
}
footer .siteright {
	display: block;
	float: right;
	
}

img {
	margin-left: 10%;
}
h1, h5 {
	font-size: 3em;
	float: left;
	width:570px;
	font-family: 'Ubuntu', sans-serif;
	color: red;
}

h1 {
	font-family: 'Denk One', sans-serif;
	font-style: italic;
}
#accordion h3 {
	color: red;
	
}

a {
	text-decoration: none;
	font-weight: bold;
}
h5 {
	font-size: 120%;
	margin-bottom: 2.5%;
}
h2, h3 {
	font-weight: bold;
	font-size: 150%;
	padding-top: 3%;
	color: red;
}
footer {
	margin-top: 3%;
	
}
ul {
	overflow: hidden;
}
.tabs a span {
	display: inline-block;;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}
.tabs a span.active {
	background: #eee;
}


